@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="/Image/StudentImage.jpg" alt="StudentImage" width="500" height="333">
    <h1 class="display-4">Welcome</h1>
    
</div>
